body {
    overflow: hidden;
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center; /*centers items on the line (the x-axis by default)*/
    align-items: center; /*centers items on the cross-axis (y by default)*/
}

.todo_container {
    -ms-box-orient: horizontal;
    flex-wrap: wrap;
    display: flex;
}
.todo_item {
    padding: 5px;
    width: auto;
    height: auto;
    line-height: 100px;
    align-self: center;
}

.todo_item:hover {
    border: 2px solid #000000;
}

.inline-div {
    position: relative;
    align-items: center;
    align-self: center;
}

.inline-div:hover {
    border: 2px solid #000000;
}

.container-div {
    horiz-align: center;
    vertical-align: bottom;
}
